<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Integento_Catalog for Magento.
 *
 * @license MIT
 * @author Darklg <darklg.blog@gmail.com> <@Darklg>
 * @category Integento
 * @package Integento_Catalog
 * @copyright Copyright (c) 2016 Integento (http://github.com/InteGento)
 */
-->
<config>
  <modules>
    <Integento_Catalog>
      <version>0.1.0</version>
    </Integento_Catalog>
  </modules>
  <global>
      <helpers>
          <integento_catalog>
              <class>Integento_Catalog_Helper</class>
          </integento_catalog>
      </helpers>
  </global>
</config>
